.container {
  max-width: 100%;
}

.title {
  margin-bottom: 35px;

  font-size: 40px;
  font-weight: 600;
  color: var(--main-text-clr);
  text-align: center;
}

.subTitle {
  margin-bottom: 50px;
  margin-left: auto;

  font-size: 28px;
  font-weight: 500;
  color: var(--main-text-clr);
  text-align: right;
}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.listExtended {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 40px;

    font-size: 48px;
  }

  .subTitle {
    font-size: 32px;
    max-width: 480px;
  }

  .list {
    align-items: start;
    /* flex-direction: row;
    flex-wrap: wrap; */
    gap: 50px;
  }

  .list .itemWrap:nth-child(even) {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }

  .title {
    margin-bottom: 50px;

    font-size: 64px;
    text-align: left;
  }

  .subTitle {
    max-width: 570px;
  }

  .list {
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px 70px;

    width: 1010px;
    margin: 0 auto;
  }

  .list .itemWrap:nth-child(even) {
    margin-left: 0;
    transform: translateY(70px);
  }
}
