:root {
  --main-bg-clr: #010101;
  --main-text-clr: #fcfcfc;

  --primary-clr: #dc414c;
  --stroke-clr: #fcfcfc;
  --secondary-clr: #4b4b4b;

  --backdrop-clr: rgba(0, 0, 0, 0.5);
  --backdrop-filter: blur(25px);

  --border-radius: 10px;

  --transition-duration: 250ms;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--main-bg-clr);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
