.filtersList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  max-width: 100%;
  padding: 0px 20px;
  margin-bottom: 50px;
}

.item {
  padding: 12px 25px;

  border: 1px solid var(--secondary-clr);
  border-radius: var(--border-radius);

  font-size: 18px;
  color: var(--secondary-clr);

  cursor: pointer;
  transition: all var(--transition-duration);
}

.active {
  border: 1px solid var(--primary-clr);
  background-color: var(--primary-clr);

  color: var(--main-text-clr);
}

.item:hover {
  border: 1px solid var(--stroke-clr);
  color: var(--main-text-clr);
}

.active:hover {
  border: 1px solid var(--primary-clr);
}

.casesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .filtersList {
    gap: 30px;

    margin-bottom: 60px;
  }

  .casesList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .filtersList {
    max-width: 1170px;
    margin: 0px auto 70px auto;
  }

  .casesList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
