.extended {
  display: flex;
  flex-direction: column;
}

.name {
  margin-top: 20px;
  margin-bottom: 20px;

  font-size: 54px;
  font-weight: 500;
  line-height: 150.04%;
  letter-spacing: 1.28px;
  color: var(--main-text-clr);
}

.description {
  margin-bottom: 20px;

  font-size: 17px;
  line-height: 150.04%;
  letter-spacing: 0.34px;
  color: var(--main-text-clr);
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.socialLink {
  display: flex;
  align-items: center;
  gap: 15px;

  font-size: 17px;
  line-height: 150.04%;
  letter-spacing: 0.34px;
  color: var(--main-text-clr);

  transition: all var(--transition-duration);
}

.icon {
  fill: var(--stroke-clr);

  transition: all var(--transition-duration);
}

.socialLink:hover {
  color: var(--primary-clr);
}

.socialLink:hover .icon {
  fill: var(--primary-clr);
  transform: translateX(5px);
}

/*  */

.wrap {
  width: 100%;
  height: 390px;
  padding: 10px;

  border: 1px solid var(--secondary-clr);
  border-radius: var(--border-radius);

  overflow: hidden;
}

.item {
  width: 100%;
  height: 100%;

  border-radius: var(--border-radius);
  background-color: #181818;

  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  transition: all 1500ms;
}

.wrap:hover .image {
  transform: scale(1.2);
}

@media screen and (min-width: 480px) {
  .wrap {
    width: 440px;
    height: 530px;
    padding: 15px;
  }
}

@media screen and (min-width: 768px) {
  .name {
    margin-top: 25px;
    margin-bottom: 25px;

    font-size: 76px;
  }

  .description {
    margin-bottom: 40px;

    font-size: 20px;
  }

  .socials {
    gap: 25px;
  }

  .socialLink {
    font-size: 20px;
  }

  /*  */

  .wrap {
    width: 470px;
    height: 540px;
  }
}

@media screen and (min-width: 1200px) {
  .extended {
    flex-direction: row;
    gap: 30px;
  }

  .name {
    margin-top: 25px;
    margin-bottom: 25px;

    font-size: 76px;
  }

  .description {
    margin-bottom: 40px;

    font-size: 20px;
  }

  .socials {
    gap: 25px;
  }

  .socialLink {
    font-size: 20px;
  }

  .wrap {
    flex-shrink: 0;
  }
}
