.callBtn {
  padding: 13px 26px;

  background-color: transparent;
  border: 1px solid var(--secondary-clr);
  border-radius: var(--border-radius);

  font-family: "Nunito", sans-serif;
  font-size: 17px;
  color: var(--main-text-clr);

  cursor: pointer;
  transition: all var(--transition-duration);
}

.callBtn:hover {
  border: 1px solid var(--primary-clr);
  background-color: var(--primary-clr);
}

@media screen and (min-width: 480px) {
  .callBtn {
    margin-left: auto;
  }
}
