.footer {
  max-width: 100%;
  padding: 40px 20px 60px 20px;
}

.contactForm {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 300px;
  margin-bottom: 60px;

  border: 1px solid var(--secondary-clr);
  border-radius: var(--border-radius);
  background: linear-gradient(
    100deg,
    #232323 2.7%,
    rgba(0, 0, 0, 0.64) 57.03%,
    rgba(35, 35, 35, 0) 102.03%
  );
}

.contactEmail {
  display: none;
}

.mailIcon {
  fill: var(--stroke-clr);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.logoWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.logoMobile {
  font-size: 24px;
  color: var(--main-text-clr);
}

.logo {
  display: none;

  font-size: 24px;
  color: var(--main-text-clr);
}

.copy {
  font-size: 15px;
  color: var(--secondary-clr);
}

.socList {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.socItem {
  width: 50px;
  height: 50px;
}

.socLink {
  display: block;
  width: 50px;
  height: 50px;
}

.icon {
  width: 50px;
  height: 50px;

  fill: var(--stroke-clr);

  transition: all var(--transition-duration);
}

.socItem:hover .icon {
  fill: var(--primary-clr);
}

@media screen and (min-width: 480px) {
  .footer {
    justify-content: start;
  }

  .contactEmail {
    position: relative;
    display: block;

    font-size: 36px;
    font-weight: 500;
    color: var(--main-text-clr);

    z-index: 1;
    overflow: hidden;
  }

  .contactEmail::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(-100% + 1px);

    width: 100%;
    height: 100%;
    background-color: var(--main-text-clr);

    transition: all 250ms;

    z-index: -1;
  }

  .contactForm:hover .contactEmail::before {
    bottom: 0;

    background-color: var(--primary-clr);
  }

  .logoMobile {
    font-size: 32px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .mailIcon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contactForm {
    height: 520px;
  }

  .contactEmail {
    font-size: 48px;
  }

  .logoMobile {
    display: none;
  }

  .logo {
    display: block;
    font-size: 32px;
    margin-right: 40px;
  }

  .socList {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
  }

  .contactForm {
    height: 750px;
    margin-bottom: 60px;

    border-radius: 50px;
  }

  .contactEmail {
    font-size: 64px;
  }

  .container {
    flex-direction: row;
    gap: 0;
  }

  .logoWrap {
    display: flex;
    justify-content: start;
    gap: 40px;

    width: fit-content;
  }

  .copy {
    margin-left: auto;
  }

  .socList {
    justify-content: space-between;

    width: 285px;
    margin-left: 100px;
  }
}
